Source: mate-university
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper (>= 8),
               mate-common,
               libgtk2.0-dev,
               libmatepanelapplet-dev
Standards-Version: 3.9.3
Homepage: http://www.mate-desktop.org/

Package: mate-university
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: MATE University
 MATE University package.

Package: mate-university-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         mate-university (= ${binary:Version})
Description: MATE University (debugging symbols)
 This package contains debugging symbols for mate-university.
 It is provided to help debugging problems. The debugging symbols are
 installed in /usr/lib/debug and will automatically be used by gdb.
